.container{
    border:1px solid black;
    padding: 10px;
}

h1{
    color:grey;
}

div.todo{
    border:1px solid black;
    margin: 10px;
}

.Button{
    display:none;
}

.todo:hover .Button{
    display: inline;
    color:black;
    background: none;
    outline:none;
    border: none;
    
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
